/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*FONT*/
*{  
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
}


body{
    position: relative;
}

/*VIEWPORT*/
.my_container-main{
    height: calc(100vh - 5rem);
    width: calc(100vw - 4rem);
    overflow-y: auto;
    margin-left: 4rem;
    margin-top: 5rem;
}

/*CONTAINER*/


/*Container Desktop Media*/
@media only screen and (min-width: 992px) {
    .my_container-main{
        width: calc(100vw - 8rem);
        margin-left: 8rem;
    }
}

/*NAVBAR*/
.my_nav-size{
    height: 5rem;
}

.img-logo{
    width: 2.5rem;
}

.img-logo-lg{
    width: 9rem;
}

.searchbar-width{
    width: 100%;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    color: rgb(48, 48, 48);
}

.has-search .form-control {
    padding-left: 2rem;
}

.fa-size{
    width: 1rem;
}


/*ASIDE*/
aside{
    width: 4rem;
    height:calc(100vh - 5rem);
    position: fixed;
}

.container-aside{
    height: 100%;
}

.my_mg-l-home{
    margin-left: 10px;
}

.my_mg-l-stats{
    margin-left: 14px;
}

.my_mg-l-signals{
    margin-left: 8px;
}

.my_mg-l-admin{
    margin-left: 12px;
}

.my_hover-aside :hover{
    background-color:rgb(190, 189, 189);
}

.table-hover > tbody > tr:hover {
    background-color: #b7b7b7;
  }

/*ASIDE Desktop Media*/
@media only screen and (min-width: 992px) {
aside{
    width: 8rem;
}
}

/*BOTTOM-NAV*/
.my_info-bar{
    height: 15rem;
}

.container_my-info-bar{
    height: 100%;
    padding: 1rem 1rem;
}

.my_square-plus{
    width: 3rem;
    -webkit-filter: invert(100%);
}

.my_bg-elements{
    background-color:#165BBA;
}

.my_fs-elements{
    font-size: 1.2rem;
}

/*BOTTOM NAV Media*/
@media only screen and (min-width: 768px) {
 .my_info-bar  {
       height: 6.5rem;
    }
    }

/*MAIN-TABLE*/
.my_fs-table{
    font-size: 0.7rem;
}

.my_img-class{
    height: 24px;
    width: 24px;
    border-radius: 100%;
}

.my_icon-border{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgb(100, 100, 100);
    margin-right: 5px;
}

